# Secrets et configuration
secrets.json
config.json

# Dossier de sortie
output/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.venv
venv

# PyInstaller build artifacts
build
dist
*.spec
*.exe
*.pyz
*.pkg
